.home-container {
    font-family: 'Roboto', sans-serif;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: auto;
  }
  
  .home-content {
    text-align: center;
    margin-bottom: 20px;
  }
  
  .home-photo {
    text-align: center;
  }
  
  .home-photo img {
    max-width: 90%;
    height: auto;
  }
  